a {
  color: white;
  text-decoration: none;
}

.body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.skin {
  font-family: Noto Sans KR;
  text-transform: uppercase;

  color: white;
  overflow-x: hidden;
  position: absolute;
  z-index: -10;

  top: 0;
  left: 0;
  right: 0;
  background-color: #2b2e31;
}

.fat {
  display: flex;
  flex-direction: column;
  margin: 2vw 3vw;
}

.headline {
  display: flex;
  flex-direction: row;

  position: static;
  margin-left: 23vw;
  padding-bottom: 3vw;
  font-size: 1.5vw;

  font-weight: Medium;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.lookingfor {
  padding: 0 5vw;
}

#logo_ihp {
  width: 15vw;
  height: auto;
  margin-top: -0.1vw;
}

.blank_40 {
  display: flex;
  flex-direction: row;
  flex: 2 0 0;
}

.blank_20 {
  flex: 1 0 0;
}

.aboutcompany {
  padding: 10vw 0;
}

.company_des {
  z-index: 2;
  color: white;
  font-weight: 100;
  text-align: left;

  font-size: 3.5vw;
  letter-spacing: -0.03em;
}

.txtabove {
  position: absolute;
  z-index: 2;
}

.company_bg {
  display: flex;
  flex-direction: row;
  z-index: -1;
  height: auto;
  margin-right: -4vw;
}

#takeapill {
  margin-top: 11vw;

  height: 80%;
  width: 100%;
}

.title {
  padding-bottom: 1vw;
}

.contents_names {
  display: flex;
  flex-direction: column;
}

.history {
  display: flex;
  flex-direction: column;
  margin: 20vw 0 30vw 0;

  font-size: 1.5vw;
}

.contents {
  display: flex;
  flex-direction: row;

  line-height: 3vw;
  letter-spacing: -0.03em;
}

.contents_date {
  padding-right: 1vw;
}

.contents_names {
  font-weight: 100;
}

.news {
  padding-bottom: 30vw;

  font-size: 1.5vw;
  margin-left: 62vw;
}

#newspic {
  width: 32vw;
  height: auto;
  margin-bottom: 1vw;
}

.partnership {
  padding-bottom: 60vw;
  font-size: 1.5vw;
}

#logo_p {
  width: 200px;
  padding: 1vw 0;
}

.aboutppl {
  padding-bottom: 40vw;
}

.over_des {
  font-weight: 100;
  font-size: 3vw;
  text-align: center;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.over_bg {
  margin-top: -40vw;
}

.over {
  margin: 0 -4vw;
  width: 102vw;
  position: relative;
  z-index: -1;
}

.hiring {
  display: flex;
  flex-direction: column;

  font-size: 1.5vw;
}

.hiring_s {
  display: flex;
  flex-direction: row;
}

.jobtitles {
  flex: 1 0 0;
  font-weight: 500;
  letter-spacing: -0.01em;
  flex-direction: column;
}

.job_des_android {
  flex: 2 0 0;

  display: flex;
  flex-direction: column;
  text-align: left;

  margin-bottom: 20vw;
}

.title_des {
  padding-bottom: 5vw;
}

.title_what_q {
  display: flex;
  flex-direction: column;
  padding-bottom: 1vw;
  font-weight: 500;
  line-height: 35px;
}

.title_what_answer {
  font-weight: 300;
  line-height: 35px;
}

.line {
  position: absolute;
  bottom: 20vw;
  left: 0;
  border-top: 1px solid white;
  width: 102vw;
}

.bottom {
  width: 285px;
  color: white;

  font-weight: Light;
  text-align: left;
  font-size: 1vw;

  margin: 5vw 0;
}
